<div class="excerciseCard" style="display:flex;align-items:center;">



	<div style="float:left;margin-left:20px;padding-top:20px;align-self: flex-start;"> {{excercise.name}} </div>


	<div style="margin-left: auto;  order: 2;display:flex;align-items:center;height:100%">
		<img style="width:130px;height:100px;display:flex;align-items:center" [src]=excercise.imgSrc />
  </div>
	</div>
	<br><br>
	<div class="excerciseCard" style="background-color:#ffc4c4;padding-top:13px;padding-bottom:10px">
		<div class="row">

			<div class="col-sm-8 ">
				<div class="col-sm-12">{{excercise.name}}</div>
				<div class="col-sm-12" style="position:absolute;bottom:0;font-size:12px"><a href="#">
						#shoulders #back #rhomboid
						#shoulders #back #rhomboid
						#shoulders #back #rhomboid
						#shoulders #back #rhomboid
					</a>
					<!-- <mat-chip>
						#shoulders
					</mat-chip>
					<mat-chip>
						#back
					</mat-chip>
					<mat-chip>
						#rhomboid
					</mat-chip> -->



				</div>

			</div>

			<div class="col-sm-4" style="background-color:green">

				<div style="margin-left: auto;  order: 2;display:flex;align-items:center;height:100%">
					<img style="width:130px;height:100px;display:flex;align-items:center" [src]=excercise.imgSrc />
  </div>

				</div>
			</div>
		</div>