<div class="excerciseCard" *ngIf="false"
	style="display:flex;align-items:center;max-width:400px;border-width;height:300px">
	<div style="float:left"> Full Excercise</div>
	<div style="margin-left: auto;  order: 2;display:flex;align-items:center;height:300px">


		<br><br>
		<div style="margin-right:20px">
			<iframe width="260" height="180"
				src="https://www.youtube.com/embed/eIq5CB9JfKE?controls=0&amp;start=477&end=487&autoplay=0&loop=1"
				frameborder="0"
				allow="accelerometer; autoplay; loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe></div>
	</div>